.background {
    background-color: white;
    opacity: 0.6;
}

.title {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 60px;
    color: red;
    opacity: 1;
}

.help {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 40px;
    color: yellow;
    opacity: 1;
}

.rules {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
    opacity: 1;
}

.mickey {
    width: 75%;
    height: auto;
}

.yensid {
    width: 65%;
    height: auto;

}