.background {
    background-color: lightblue;
    opacity: 0.6;
}

.title {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 60px;
    color: red;
    opacity: 1;
}

.help {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 40px;
    color: yellow;
    opacity: 1;
}

.rules {
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
    opacity: 1;
}

.mickey {
    width: 75%;
    height: auto;
    margin-left: 60px;
    margin-top: 25px;
}

.yensid {
    width: 65%;
    height: auto;
    margin-left: 70px;
    margin-top: 25px;

}

.magic {
    font-family: 'Aclonica', sans-serif;
    color: yellow;
    text-align: center;
    font-size: 25px;
}

.tally {
    font-family: 'Aclonica', sans-serif;
    color: red;
    text-align: center;
    font-size: 25px;
}

.crystal {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 25px;
    padding: 10 10 10 10;
}